/old_models
/models
/models3D
ersAntonProjects'; & 'CPython37python.exe' 'cUsersAnton.vscode-insidersextensionsms-python.python-2021.9.1246542782pythonFileslibpythondebugpylauncher' '63548' '--' 'cUsersAntonProjectsjaw_encoderjaw_eval3D.py' 
